/* @override http://localhost:3000/stylesheets/slide.css */

/* @override http://localhost:3000/stylesheets/layout.css */

body {
	background-color: #cacaca;
	font-size: 1em;
	min-width: 600px;
}

.clear {
	clear: both;
}

/* @group layout */

#top_bar {
	background-color: #c0ff00;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

/* @group Title */

#title {
	float: left;
}

#logo {
	font: italic 2.5em Georgia, "Times New Roman", Times, serif;
	color: #282828;
	display: inline;
}

#tagline {
	display: inline;
	text-decoration: overline;
	font: normal small-caps normal 0.8em "Lucida Grande", Lucida, Verdana, sans-serif;
}



/* @end */

/* @group Navigation */

#nav {
	float: right;
	margin-top: 21px;
}

#nav a {
	text-decoration: overline;
	font-variant: small-caps;
	color: #000;
	font-size: 0.8em;
}

#nav a:hover {
	color: white;
}



/* @end */

#main {
	background-color: white;
	max-width: 960px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 10px solid #848484;
	clear: both;
	min-width: 600px;
}

#thread_list {
	float: left;
	width: 30%;
	min-width: 30%;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

#thread_view {
	height: 100%;
	width: 70%;
	float: right;
}

#thread_posts {
	width: 100%;
	height: 400px;
	overflow: scroll;
	overflow-x: hidden;
	border-left-style: solid;
	border-left-color: gray;
}

#thread_entry {
	width: 100%;
	background-color: #bfff83;
	border-left-style: solid;
	border-top-style: solid;
	height: 97px;
	border-top-color: gray;
	border-left-color: gray;
	padding: 0;
}



/* @end */

/* @group thread list */

#thread_list a {
	text-decoration: none;
	color: #161634;
}

#thread_list a:hover {
	color: #007cff;
}

#thread_list ul {
	list-style-type: none;
	margin: 0 0 0 -40px;
}

#thread_list ul li {
	padding: 6px;
	border-bottom: 1px solid #848484;
}

#thread_list ul li:hover {
	background-color: #e5ebfc;
}

#thread_list li:nth-child(odd)  { 
	background-color: #b6e0e0; 
}

#thread_list li.viewed {
	background-color: #d8f0ed;
}

#thread_list li.new {
	background-color: #61f468;
}

#thread_list ul li h1 {
	padding: 0;
	margin: 0 0 3px;
	font: 1.1em Georgia, "Times New Roman", Times, serif;
}

#thread_list ul li h2 {
	margin: 0 0 0 5px;
	font-size: 0.65em;
	float: left;
	font-weight: normal;
	font-style: normal;
}

#thread_list ul li h3 {
	float: right;
	margin: 0 5px 0 0;
	font: 1em Georgia, "Times New Roman", Times, serif;
}

/* @end */

/* @group thread posts */

#thread_posts ul {
	list-style-type: none;
	padding-left: 15px;
	margin: 0 0 0 0px;
}

#thread_posts ul li {
	padding: 10px;
}

#thread_posts .avatar {
	margin-right: 10px;
	float: right;
}

#thread_posts .post_body {
	width: 85%;
	float: left;
	min-height: 76px;
}

#thread_posts .post_body img {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#thread_posts .post_content {
	font-family: Georgia, "Times New Roman", Times, serif;
}

#thread_posts .post_time {
	font-size: 0.5em;
	letter-spacing: 1px;
	clear: both;
}

#thread_posts .clear {
	border-bottom: 1px solid gray;
	width: 98%;
}

/* @end */

/* @group thread entry */

#thread_entry textarea {
	width: 70%;
	background-color: #bfff83;
	padding: 6px;
	float: right;
	height: 85px;
	margin-right: -1px;
	margin-top: -1px;
}

#entry_buttons {
	float: left;
	padding: 37px 30px 30px 38px;
}



/* @end */

