<style type="text/css">
  #thread_posts {
      display: none;
  }

  #thread_entry {
      display: none;
  }
</style>

<% title "Sign up" %>
<% content_for :thread_view do %>
<div id="signup_form">
    <%= render 'form' %>
</div>
<% end %>

<%= render 'forum_threads/list_threads' %>
