<% if logged_in? then %>
<% content_for :thread_entry do %>
	<%= form_for ForumPost.new, :remote => true do |f| %>
	  <%= f.error_messages %>
	  
		
		<div>
	    <%= f.text_area :content %>
	  </div>
	
		<div id="entry_buttons">
			<%= f.submit :submit %>
		</div>
	  
	<% end %>
<% end %>
<% else %>
	<% content_for :thread_entry do %>
	 You need to sign in.
	<% end %>
<% end %>