<% get_threads %>
<% content_for :thread_list do %>
	<ul id="list_of_threads">
		<% if !@forum_threads.blank? then %>
		<% for thread in @forum_threads do %>
			
				<%= link_to forum_thread_path(thread.id), :id => "thread_link_#{thread.id}" do %>
				<% isnew = cookies["thread_"+thread.id.to_s] ? "viewed" : "" %>
				<li class="thread_link <%= isnew %>">
					<%= render 'forum_threads/thread_link', :fthread => thread %>
				</li>
				<% end %>
			
		<% end %>
		<% end %>
	</ul>
<% end %>