<% content_for :thread_list do %>
	<ul>
		<% if !@forum_threads.blank? then %>
		<% for thread in @forum_threads do %>
			<li>
				<h1><%= link_to thread.title, select_thread_path(thread.id) %></h1>
				<h2>last post by <%= get_last_post_user(thread) %><br/>
				created by <%= thread.user.username %></h2>
				<h3><%= thread.forum_posts.count %> posts</h3>
				<div class="clear"></div>
			</li>
		<% end %>
		<% end %>
	</ul>
<% end %>