<% content_for :thread_list do %>
	<table border="0" cellspacing="5" cellpadding="5">
		<% if !@forum_threads.blank? then %>
		<% for thread in @forum_threads do %>
		
		<tr>
			<td><%= link_to thread.title, select_thread_path(thread.id) %></td>
			<td>last post by <%= get_last_post_user(thread) %></td>
			<td>created by <%= thread.user.username %></td>
		</tr>
		
		<% end %>
		<% end %>
	</table>

<% end %>